In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("mode.csv")

In [28]:
df.head

<bound method NDFrame.head of     Student  Overall Marks  Gender    Subject
0     Anish             97    Male    English
1   Rishabh             83    Male    English
2      Ajay             78    Male    Physics
3   Abhinav             86    Male  Chemistry
4    Anurag             91    Male    English
..      ...            ...     ...        ...
95  Aaditya             77    Male  Chemistry
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry

[100 rows x 4 columns]>

In [29]:
df[['Subject']]

      Subject
0     English
1     English
2     Physics
3   Chemistry
4     English
..        ...
95  Chemistry
96    Physics
97    English
98    English
99  Chemistry

[100 rows x 1 columns]

In [30]:
mode_data = df['Subject'].mode()
print(mode_data)

0    Chemistry
dtype: object

Calculating Median

In [31]:
df.head

<bound method NDFrame.head of     Student  Overall Marks  Gender    Subject
0     Anish             97    Male    English
1   Rishabh             83    Male    English
2      Ajay             78    Male    Physics
3   Abhinav             86    Male  Chemistry
4    Anurag             91    Male    English
..      ...            ...     ...        ...
95  Aaditya             77    Male  Chemistry
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry

[100 rows x 4 columns]>

In [32]:
data_median = df['Overall Marks'].median()
print(data_median)

77.0

In [33]:
# getting median with quantiles
Q1 = df['Overall Marks'].quantile(0.25)
Q2 = df['Overall Marks'].quantile(0.5)
Q3 = df['Overall Marks'].quantile(0.75)
Q4 = df['Overall Marks'].quantile(1)

In [34]:
print(Q1)
print(Q2) #2nd Quantile is the Median
print(Q3)
print(Q4)

57.25
77.0
87.25
100.0

In [36]:
# Calculating the Range of the col
# Range = Max value - Min value
range = df['Overall Marks'].max() - df['Overall Marks'].min()
print(range)

100

In [37]:
# Calculating the interquartile range
# Interquartile range IQR = Third Quartile - First Quartile

IQR = Q3 - Q1
print(IQR)

30.0

In [42]:
# What is the third quartile of this dataset
l = [37,42,48,51,52,53,54,54,55]
l.sort()
dl = pd.DataFrame(l)
print(dl.quantile(0.75))

0    54.0
Name: 0.75, dtype: float64